.circle-pic{
    -webkit-border-radius: 50%;
    border-radius: 20%;
  }
  ion-content{
    --ion-background-color: #ffe6ea;
  }
  .add-friend{
    --background: #ff3355;
  }
  .header-segment{
    background-color: #ffe6ea;
  }
  .facebook-btn {
    --background: #3b5998;
    height: 45px;;
    margin:  20px 20px 20px 20px;
  }
  .twitter-btn {
    --background: #00acee;
    height: 45px;;
    margin:  20px 20px 20px 20px;
  }
  .google-btn {
    --background: #4285f4;
    height: 45px;;
    margin:  20px 20px 20px 20px;
  }