<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Invite Friends</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button expand="full" class="facebook-btn"><ion-icon name="logo-facebook" slot="start" size="large"></ion-icon>&nbsp;&nbsp;&nbsp;FaceBook </ion-button>
    <ion-button expand="full" class="twitter-btn"><ion-icon name="logo-twitter" slot="start" size="large"></ion-icon>&nbsp;&nbsp;&nbsp;Twitter </ion-button>
    <ion-button expand="full" class="google-btn"><ion-icon name="logo-google" slot="start" size="large"></ion-icon>&nbsp;&nbsp;&nbsp;Google </ion-button>

</ion-content>
