<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Create Post</ion-title>
  </ion-toolbar>
</ion-header>
<!-- header tab starting-->
<div>
  <ion-item lines="none">
    <ion-avatar slot="start">
        <img src="./assets/slide/1.jpg">
    </ion-avatar>
    <ion-text class="avatar-text">draganp</ion-text>&nbsp;&nbsp;&nbsp;    
    <ion-icon name="contacts" size="small"></ion-icon>&nbsp;
    <ion-select placeholder="Friends">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
    </ion-select>&nbsp;&nbsp;&nbsp;   
    <ion-icon name="add-circle-outline" size="small"></ion-icon>
      <ion-select placeholder="Album">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
    </ion-select>

</ion-item>
<ion-item>
      <ion-textarea placeholder="What is your mind?"></ion-textarea>

</ion-item>
</div>
<!--end header tab-->
<ion-content>
  <ion-item>
      <ion-thumbnail slot="start">
          <img src="./assets/photovideo.png" class="post-img">
      </ion-thumbnail>
      <ion-text>Photo / Video</ion-text>
  </ion-item>
  <ion-item>
      <ion-thumbnail slot="start">
          <img src="./assets/friends.png" class="post-img">
      </ion-thumbnail>
      <ion-text>Tag Friends</ion-text>
  </ion-item>
  <ion-item>
      <ion-thumbnail slot="start">
          <img src="./assets/mappin2.png" class="post-img" >
      </ion-thumbnail>
      <ion-text>Check In</ion-text>
  </ion-item>
  <ion-item>
      <ion-thumbnail slot="start">
          <img src="./assets/camera.png"  class="post-img">
      </ion-thumbnail>
      <ion-text>Go Live</ion-text>
  </ion-item>
</ion-content>
