<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-top class="avatar-text">
            <ion-text >Cristiano Ronaldo</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
     
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col size="3">&nbsp;</ion-col>
        <ion-col class="send-message">
          <p class="custom-text">Hello mate, sorry we had some issues.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">&nbsp;</ion-col>
        <ion-col class="send-message" >
            <p class="custom-text">Will be sending you ther VR Headset this weekend.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">&nbsp;</ion-col>
        <ion-col class="send-message">
            <p class="custom-text">Please let me know if it's still okay? Thanks.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2" align-self-center>
              <img src="./assets/slide/1.jpg" class="avatar-img" >
        </ion-col>
        <ion-col class="receive-message">
          <p class="custom-text">Absolutely!</p>
        </ion-col>
      </ion-row>

  
    </ion-grid>
  
</ion-content>
<ion-footer>
  <ion-input placeholder=" Messages.."></ion-input>
</ion-footer>