<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>
<div class="header-segment">
  <ion-searchbar placeholder="Search Current Users"></ion-searchbar>
</div>
<ion-content>
  
  <ion-list>
    <ion-list-header>
        <ion-label class="custom-textcard" >Messages</ion-label>
    </ion-list-header>
    <ion-item (click)="goMessagePage()">
      <ion-thumbnail slot="start">
        <img src="./assets/slide/1.jpg" class="circle-pic">
      </ion-thumbnail>
      <ion-label>&nbsp;&nbsp;&nbsp;Cristiano Ronaldo<p class="avatar-text">&nbsp;&nbsp;&nbsp;&nbsp;04 May 2019. 2:08 PM  </p></ion-label>
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none" (click)="goMessagePage()">
      <ion-thumbnail slot="start">
        <img src="./assets/slide/1.jpg" class="circle-pic">
      </ion-thumbnail>
      <ion-label>&nbsp;&nbsp;&nbsp;Cristiano Ronaldo</ion-label>
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
